
.Starimage {

  width: 30px;
  height: auto; 

}

h1 {
  margin-top: 40px; 
}

.Starimage {
  position: relative;
  top: 4px;   /* Moves down 20px */
  left: 0px;  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 3;
  background-color: #3A2525;
  display: flex;
}

ul li a {
  display: block;
  color: gold;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #4B352A;

}

ul li a:hover {
  background-color: #6E5034;
}


ul {
  outline: 2px solid black;
}


body {
         background-image: url("Background.jpg");
         background-repeat: no-repeat;
         background-size: 1350px 800px;
         background-attachment: fixed; 
 background-position: upper center; 
}


.text-box {
    background-color: #FFE2AF; /* Light gray background color */
    border: 4px solid #3A2525;    /* Optional: a thin border around the box */
    padding: 20px;             /* Space between the text and the box's border */
    margin-top: 10px;          /* Margin on the top of the box */
    margin-bottom: 30px;       /* Margin on the bottom of the box */
    margin-left: 5%;          /* Margin on the left side (10% of the screen width) */
    margin-right: 5%;         /* Margin on the right side (10% of the screen width) */
    width: 90%;                /* The content width will be 80% (10% left margin + 80% content + 10% right margin = 100%) */
    box-sizing: border-box;    /* Ensures padding/border is included in the width calculation */
}

h2 {

margin-top: 0px
}




@font-face {
  font-family: BoomerangOutlaw; 
  src: url("Cowboy Outlaw.otf");
}



h1 {
  font-family: BoomerangOutlaw;
}





